.btn {
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.btn--logout {
  color: white;
}

.btn--user-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.btn--hidden {
  display: none;
}

.btn--upload {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 12px;
  height: 12px;
  background-color: red;
}

@media (min-width: 640px) {
  .btn--user-nav {
    display: none;
  }
}
