.container {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 640px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: auto;
  }
